USE [master]
GO
/****** Object:  Database [QLBUONBANHAISAN]    Script Date: 4/22/2023 9:31:38 AM ******/
CREATE DATABASE [QLBUONBANHAISAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBUONBANHAISAN', FILENAME = N'D:\QLBUONBANHAISAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBUONBANHAISAN_log', FILENAME = N'D:\QLBUONBANHAISAN_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBUONBANHAISAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBUONBANHAISAN]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID] [int] NOT NULL,
	[TENBAN] [nvarchar](30) NOT NULL,
	[TRANGTHAI] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANDAT]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[SDT] [nchar](12) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[THOIGIANDAT] [nvarchar](40) NOT NULL,
	[SOLUONGNGUOI] [int] NOT NULL,
	[BANSO] [nvarchar](30) NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[GHICHU] [text] NULL,
 CONSTRAINT [PK_BANDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[IDHD] [int] NOT NULL,
	[IDMA] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC,
	[IDMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[IDPN] [int] NOT NULL,
	[MAHS] [nchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[DONVI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CTPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[IDPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HAISAN]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAISAN](
	[MAHS] [nchar](20) NOT NULL,
	[TENHS] [nvarchar](50) NOT NULL,
	[GIA] [int] NOT NULL,
	[HINHANH] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HAISAN] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GIAMGIA] [int] NOT NULL,
	[SOBAN] [int] NOT NULL,
	[NGAYLAPHOADON] [datetime] NOT NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENMONAN] [nvarchar](50) NOT NULL,
	[GIA] [int] NOT NULL,
	[MAHS] [nchar](20) NOT NULL,
	[HINHANH] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](20) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nchar](11) NULL,
	[GIOITINH] [nvarchar](4) NOT NULL,
	[CHUCVU] [nvarchar](20) NOT NULL,
	[HINHANH] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[ID] [int] NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [nchar](20) NOT NULL,
	[MATKHAU] [nchar](20) NOT NULL,
	[MANV] [nchar](20) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([ID], [TENBAN], [TRANGTHAI]) VALUES (1, N'Bàn 1', N'Trống')
INSERT [dbo].[BAN] ([ID], [TENBAN], [TRANGTHAI]) VALUES (2, N'Bàn 2', N'Trống')
INSERT [dbo].[BAN] ([ID], [TENBAN], [TRANGTHAI]) VALUES (3, N'Bàn 3', N'Trống')
GO
SET IDENTITY_INSERT [dbo].[BANDAT] ON 

INSERT [dbo].[BANDAT] ([ID], [TENKHACHHANG], [SDT], [NGAYDAT], [THOIGIANDAT], [SOLUONGNGUOI], [BANSO], [TRANGTHAI], [GHICHU]) VALUES (1, N'ĐXM', N'            ', CAST(N'2022-11-20' AS Date), N' 6:30 PM', 1, N'Bàn 1', N'Không', N'')
INSERT [dbo].[BANDAT] ([ID], [TENKHACHHANG], [SDT], [NGAYDAT], [THOIGIANDAT], [SOLUONGNGUOI], [BANSO], [TRANGTHAI], [GHICHU]) VALUES (2, N'DXM', N'0912345678  ', CAST(N'2022-11-20' AS Date), N'06:00 MP', 2, N'Bàn 2', N'Đã đặt cọc', N'DX Minh ngu si')
INSERT [dbo].[BANDAT] ([ID], [TENKHACHHANG], [SDT], [NGAYDAT], [THOIGIANDAT], [SOLUONGNGUOI], [BANSO], [TRANGTHAI], [GHICHU]) VALUES (7, N'Nguyễn Văn A', N'0912345678  ', CAST(N'2023-01-06' AS Date), N'10:49 MP', 10, N'Bàn 5', N'Đã đặt cọc', N'Không có')
SET IDENTITY_INSERT [dbo].[BANDAT] OFF
GO
INSERT [dbo].[CTHOADON] ([IDHD], [IDMA], [SOLUONG]) VALUES (40, 3, 8)
INSERT [dbo].[CTHOADON] ([IDHD], [IDMA], [SOLUONG]) VALUES (40, 4, 5)
INSERT [dbo].[CTHOADON] ([IDHD], [IDMA], [SOLUONG]) VALUES (40, 8, 1)
GO
INSERT [dbo].[CTPHIEUNHAP] ([IDPN], [MAHS], [SOLUONG], [DONGIA], [DONVI]) VALUES (1, N'BACHTUOC            ', 5, 90000, N'Kilogam')
INSERT [dbo].[CTPHIEUNHAP] ([IDPN], [MAHS], [SOLUONG], [DONGIA], [DONVI]) VALUES (1, N'CANA                ', 3, 10000, N'Kilogam')
INSERT [dbo].[CTPHIEUNHAP] ([IDPN], [MAHS], [SOLUONG], [DONGIA], [DONVI]) VALUES (1, N'HAU                 ', 40, 15000, N'Con')
GO
INSERT [dbo].[HAISAN] ([MAHS], [TENHS], [GIA], [HINHANH]) VALUES (N'BACHTUOC            ', N'Bạch tuộc', 80000, N'C:\Users\ADMIN\Documents\NetBeansProjects\DoAnNhom13\src\main\java\com\nhom13\main\image\BachTuoc.jpeg')
INSERT [dbo].[HAISAN] ([MAHS], [TENHS], [GIA], [HINHANH]) VALUES (N'CANA                ', N'Cà na', 20000, N'C:\Users\ADMIN\Documents\NetBeansProjects\DoAnNhom13\src\main\resources\image\CANA.jpg')
INSERT [dbo].[HAISAN] ([MAHS], [TENHS], [GIA], [HINHANH]) VALUES (N'CANGCUM             ', N'Càng cúm', 40000, N'C:\Users\ADMIN\Documents\NetBeansProjects\DoAnNhom13\src\main\java\com\nhom13\main\image\CANGCUM.jfif')
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([ID], [GIAMGIA], [SOBAN], [NGAYLAPHOADON], [TRANGTHAI]) VALUES (40, 0, 1, CAST(N'2022-11-17T15:26:40.150' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[HOADON] ([ID], [GIAMGIA], [SOBAN], [NGAYLAPHOADON], [TRANGTHAI]) VALUES (41, 0, 1, CAST(N'2022-12-14T23:13:30.077' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[HOADON] ([ID], [GIAMGIA], [SOBAN], [NGAYLAPHOADON], [TRANGTHAI]) VALUES (42, 0, 1, CAST(N'2022-12-30T14:54:15.397' AS DateTime), N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[MONAN] ON 

INSERT [dbo].[MONAN] ([ID], [TENMONAN], [GIA], [MAHS], [HINHANH]) VALUES (1, N'Bạch tuộc nướng muối ớt', 100000, N'BACHTUOC            ', N'C:\Users\ADMIN\Documents\NetBeansProjects\DoAnNhom13\src\main\java\com\nhom13\main\image\bạch-tuọc-nuóng-muói-ót.jpg')
INSERT [dbo].[MONAN] ([ID], [TENMONAN], [GIA], [MAHS], [HINHANH]) VALUES (2, N'Bạch tuộc nướng mọi', 100000, N'BACHTUOC            ', N'C:\Users\ADMIN\Documents\NetBeansProjects\DoAnNhom13\src\main\java\com\nhom13\main\image\bach-tuoc-nuong-moi.jpg')
INSERT [dbo].[MONAN] ([ID], [TENMONAN], [GIA], [MAHS], [HINHANH]) VALUES (3, N'Bạch tuộc hấp hành gừng', 90000, N'BACHTUOC            ', N'C:\Users\ADMIN\Documents\NetBeansProjects\DoAnNhom13\src\main\java\com\nhom13\main\image\bachtuoc-hap-hanh-gung.jpg')
SET IDENTITY_INSERT [dbo].[MONAN] OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT], [GIOITINH], [CHUCVU], [HINHANH]) VALUES (N'ADMIN               ', N'Nguyễn Trần Tấn Quy', CAST(N'2002-01-04' AS Date), N'0917320487 ', N'Nam', N'Quản lý', N'')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT], [GIOITINH], [CHUCVU], [HINHANH]) VALUES (N'NV01                ', N'Nguyễn Văn Trường', CAST(N'2002-01-01' AS Date), N'0912345678 ', N'Nam', N'Phục vụ', N'')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [SDT], [GIOITINH], [CHUCVU], [HINHANH]) VALUES (N'NV02                ', N'Nguyễn Xuân Nhật', CAST(N'2002-01-01' AS Date), N'0912345678 ', N'Nam', N'Bếp trưởng', N'')
GO
INSERT [dbo].[PHIEUNHAP] ([ID], [NGAYNHAP]) VALUES (1, CAST(N'2022-11-18T20:54:21.560' AS DateTime))
INSERT [dbo].[PHIEUNHAP] ([ID], [NGAYNHAP]) VALUES (2, CAST(N'2022-11-19T14:08:06.283' AS DateTime))
INSERT [dbo].[PHIEUNHAP] ([ID], [NGAYNHAP]) VALUES (3, CAST(N'2023-01-06T16:25:59.520' AS DateTime))
GO
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [MATKHAU], [MANV]) VALUES (N'admin               ', N'admin               ', N'ADMIN               ')
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [MATKHAU], [MANV]) VALUES (N'staff01             ', N'123456              ', N'NV01                ')
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [MATKHAU], [MANV]) VALUES (N'staff02             ', N'123456              ', N'NV02                ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BAN]    Script Date: 4/22/2023 9:31:38 AM ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [IX_BAN] UNIQUE NONCLUSTERED 
(
	[TENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HAISAN]    Script Date: 4/22/2023 9:31:38 AM ******/
ALTER TABLE [dbo].[HAISAN] ADD  CONSTRAINT [IX_HAISAN] UNIQUE NONCLUSTERED 
(
	[TENHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYLAPHD]    Script Date: 4/22/2023 9:31:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYLAPHD] ON [dbo].[HOADON]
(
	[NGAYLAPHOADON] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MONAN]    Script Date: 4/22/2023 9:31:38 AM ******/
ALTER TABLE [dbo].[MONAN] ADD  CONSTRAINT [IX_MONAN] UNIQUE NONCLUSTERED 
(
	[TENMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TAIKHOAN]    Script Date: 4/22/2023 9:31:38 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [IX_TAIKHOAN] UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [DF_BAN_TRANGTHAI]  DEFAULT (N'Trống') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BANDAT] ADD  CONSTRAINT [DF_BANDAT_SDT]  DEFAULT ('') FOR [SDT]
GO
ALTER TABLE [dbo].[BANDAT] ADD  CONSTRAINT [DF_BANDAT_NGAYDAT]  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[BANDAT] ADD  CONSTRAINT [DF_BANDAT_THOIGIANDAT]  DEFAULT ('') FOR [THOIGIANDAT]
GO
ALTER TABLE [dbo].[BANDAT] ADD  CONSTRAINT [DF_BANDAT_SOLUONGNGUOI]  DEFAULT ((1)) FOR [SOLUONGNGUOI]
GO
ALTER TABLE [dbo].[BANDAT] ADD  CONSTRAINT [DF_BANDAT_TRANGTHAI]  DEFAULT (N'Không') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BANDAT] ADD  CONSTRAINT [DF_BANDAT_GHICHU]  DEFAULT ('') FOR [GHICHU]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] ADD  CONSTRAINT [DF_CTPHIEUNHAP_SOLUONG]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] ADD  CONSTRAINT [DF_CTPHIEUNHAP_DONVI]  DEFAULT ('kg') FOR [DONVI]
GO
ALTER TABLE [dbo].[HAISAN] ADD  CONSTRAINT [DF_HAISAN_GIA]  DEFAULT ((0)) FOR [GIA]
GO
ALTER TABLE [dbo].[HAISAN] ADD  CONSTRAINT [DF_HAISAN_HINHANH]  DEFAULT ('') FOR [HINHANH]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_GIAMGIA]  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAYLAPHOADON]  DEFAULT (getdate()) FOR [NGAYLAPHOADON]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_TRANGTHAI]  DEFAULT (N'Chưa thanh toán') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[MONAN] ADD  CONSTRAINT [DF_MONAN_HINHANH]  DEFAULT ('') FOR [HINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT (N'Nam') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [DF_PHIEUNHAP_NGAYNHAP]  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[BANDAT]  WITH CHECK ADD  CONSTRAINT [FK_BANDAT_BAN] FOREIGN KEY([BANSO])
REFERENCES [dbo].[BAN] ([TENBAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANDAT] CHECK CONSTRAINT [FK_BANDAT_BAN]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON1] FOREIGN KEY([IDHD])
REFERENCES [dbo].[HOADON] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON1]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_MONAN2] FOREIGN KEY([IDMA])
REFERENCES [dbo].[MONAN] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_MONAN2]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_HAISAN] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HAISAN] ([MAHS])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_HAISAN]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([IDPN])
REFERENCES [dbo].[PHIEUNHAP] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([SOBAN])
REFERENCES [dbo].[BAN] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_HAISAN] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HAISAN] ([MAHS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_HAISAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[getAccountAndPassWordOfStaff]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAccountAndPassWordOfStaff]
	@maNV nvarchar(20),
	@taiKhoan nvarchar(20) OUTPUT,
	@matKhau nvarchar(20) OUTPUT
AS
BEGIN
SELECT @taiKhoan = ISNULL(TK.MATAIKHOAN, ''), @matKhau = ISNULL(TK.MATKHAU, '')
FROM (SELECT MANV FROM NHANVIEN WHERE MANV = @maNV) AS NV LEFT JOIN (SELECT MATAIKHOAN, MATKHAU, MANV FROM TAIKHOAN WHERE MANV = @maNV) AS TK ON NV.MANV = TK.MANV
END
GO
/****** Object:  StoredProcedure [dbo].[getIDByNumberTable]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIDByNumberTable]
	@soBan int,
	@idHD int OUTPUT,
	@ngay datetime OUTPUT
AS
BEGIN
	SELECT @idHD = HD.ID, @ngay = MAX(HD.NGAYLAPHOADON)
	FROM (SELECT ID, SOBAN = @soBan, NGAYLAPHOADON FROM HOADON WHERE SOBAN = @soBan AND TRANGTHAI = N'Chưa thanh toán') HD 
	GROUP BY HD.ID
END
GO
/****** Object:  StoredProcedure [dbo].[getMountAndUnitOfSeaFood]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getMountAndUnitOfSeaFood]
	@maHS nvarchar(20),
	@soLuong int OUTPUT,
	@donVi nvarchar(20) OUTPUT
AS
BEGIN
SELECT @soLuong = ISNULL(SUM(CTPN.SOLUONG), 0), @donVi = ISNULL(CTPN.DONVI, 'Kilogam')
FROM (SELECT MAHS FROM HAISAN WHERE MAHS = @maHS) AS HS LEFT JOIN (SELECT MAHS, SOLUONG, DONVI FROM CTPHIEUNHAP WHERE MAHS = @maHS) AS CTPN ON HS.MAHS = CTPN.MAHS
GROUP BY HS.MAHS, DONVI
END
GO
/****** Object:  StoredProcedure [dbo].[getNameStaffByMANV]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getNameStaffByMANV] 
    @maNV NVARCHAR(20),
    @fullName NVARCHAR(50) OUTPUT
AS
BEGIN
    SELECT @fullName = TENNV FROM (SELECT MANV, TENNV FROM NHANVIEN WHERE MANV = @maNV) AS NHANVIEN 
    INNER JOIN (SELECT MANV FROM TAIKHOAN WHERE MANV = @maNV) AS TAIKHOAN ON TAIKHOAN.MANV = NHANVIEN.MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[getQuantityFoodOfBill]    Script Date: 4/22/2023 9:31:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getQuantityFoodOfBill]
	@idHD int,
	@idMA int,
	@soLuong int OUTPUT
AS
BEGIN
	IF (SELECT ISNULL(SUM(SOLUONG) + COUNT(IDHD), 0) FROM CTHOADON WHERE IDHD = @idHD) != 2 
	BEGIN
		SELECT @soLuong = SOLUONG FROM CTHOADON WHERE IDHD = @idHD AND IDMA = @idMA
	END
	ELSE
	BEGIN
		UPDATE BAN SET TRANGTHAI = N'Trống' WHERE ID = (SELECT SOBAN FROM HOADON WHERE ID = @idHD)
		DELETE FROM HOADON WHERE HOADON.ID = @idHD
	END
END
GO
USE [master]
GO
